@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&display=swap');

// colores
$fondo: #c7c7c7; 
$verde: #641a3e;
$oscuro: #FF7674;
$cafe: #131515;

// tipo de letras
$letraTitulos: 'Satisfy', cursive;
$letraCuerpo:  'Kalam', cursive;
$letraTareas:  'Fraunces', serif;
