@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Varela+Round&display=swap');

$rosaOscuro: #FF7674; 
$rosaMedio: #FF74B7;
$rosaClaro:#FF74FC; 
$amarillo:#FFBC74; 
$blanco: #F8F8F8; 
$font_primary:'Baloo 2', cursive;
$font-secundary: 'Varela Round', sans-serif;

